<%- include('partials/header.ejs', { pages: pages }) %>
<link rel="stylesheet" href="/css/upload.css">
<main class="d-flex justify-content-center align-content-center p-5">
    <article>
        <section class="w-100 d-flex justify-content-center align-items-center flex-column border-3 rounded-3 shadow p-sm-1 p-lg-4 p-md-2">
            <hgroup class="fs-6">
                <span class="text-danger fs-3 font-custom">upload</span>
                <span class="text-black fs-3 font-custom">Images</span>
            </hgroup>
            <!-- Esta variable nos permite utilizar la misma plantilla para actualizar que para subir -->
            <% if (isUpdating) { %> 
                <span class="lead fs-5 mx-auto">Está por reemplazar una imagen de nuestros servidores</span>
            <% } %>
            <form 
                class="p-3 w-75 d-flex align-items-center justify-content-center flex-column gap-2"
                data-id="<%= id %>"
            >
                <label for="image" class="text-center form-label flex-fill fs-5">Seleccione una imagen: </label>
                <div class="p-5 w-100 border border-info-subtle d-flex justify-content-center rounded-3">
                    <input type="file" name="image" accept="image/*" multiple/>
                </div>
                <div class="submit-file mt-2 w-100">
                    <input type="submit" value="Enviar" class="rounded-3" />
                </div>
                <small class="text-center mt-2">
                    Esta imagen se almacenará en nuestros servidores. 
                    Para usar un proveedor diferente,
                    <a href="/upload/cloudinary" class="">
                        clic aquí.
                    </a>
                </small>
            </form>
        </section>
    </article>

</main>
<% if (!isUpdating) {  %>
    <script src="/js/upload-local.js"></script>
<% } else { %>
    <script src="/js/update-local.js"></script>
<% } %>
<%- include('partials/footer.ejs') %>